{% load tailwind_tags %}
<!doctype html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nust LMS</title>
    {% tailwind_css %}
</head>
<body class="flex flex-row h-full">
<aside class="w-64 h-full" aria-label="Sidebar">
    {% include 'sidebar.html' %}
</aside>
<div class="flex flex-col w-full">
    <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 dark:bg-gray-900 flex-initial">
        {% include 'navbar.html' %}
    </nav>
    <main class="p-3">
        {% block content %}

        {% endblock content %}
    </main>
</div>
</body>
</html>